html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Josefin Slab", serif;
  font-weight: 500;
}

body {
  background-color: #a203b1;
}

.header {
  text-shadow: -0.2rem -0.2rem 0 #000, 0.2rem -0.2rem 0 #000, -0.2rem 0.2rem 0 #000, 0.2rem 0.2rem 0 #000;
  font-family: Arial;
  font-size: 10rem;
  margin: 3rem auto;
  text-align: center;
  color: orange;
}

.top-rated {
  text-shadow: -0.2rem -0.2rem 0 #000, 0.2rem -0.2rem 0 #000, -0.2rem 0.2rem 0 #000, 0.2rem 0.2rem 0 #000;
  font-family: Arial;
  margin: 1rem auto 2rem;
  text-align: center;
  font-size: 3.8rem;
  color: orange;
}

.dog-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 97.5%;
  border: black 0.5rem solid;
  border-radius: 5rem;
  background-color: orange;
  margin: 2rem auto;
  padding: 2rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dog-card {
  margin-top: 1rem;
  height: 85vh;
  width: 90vw;
  position: relative;
  border-radius: 5rem;
  background-image: image;
  background-position: center;
  background-size: cover;
}

.dog-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.poster {
  width: 100%;
  height: auto;
  position: absolute;
}

.dog-card-back {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(39, 38, 38, 0.8);
  width: 100%;
  height: 100%;
}

.dog-card-name {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;
  text-align: center;
}

.lifespan {
  text-align: center;
}

.movie-genres {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-genre {
  list-style: none;
}

.user-score {
  font-size: 2rem;
}

.lifespan {
  font-size: 2rem;
}

.dog-card:hover .dog-card-front {
  z-index: 1;
}

.dog-card:hover .dog-card-back {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  border-radius: 5rem;
}

.test {
  color: black;
  font-size: 3rem;
}

.dog-card-origin {
  font-size: 2rem;
}

.dog-card-group {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */